# Stable version stack for Streamlit Cloud
numpy==1.26.4
pandas==2.1.4
scipy==1.11.4
matplotlib==3.8.2

# App Framework
streamlit==1.30.0
fastapi
uvicorn
python-dotenv

# ML & Analysis
ydata-profiling==4.6.4
pycaret==3.3.0
shap>=0.45.1
numba==0.59.1

# AI & LLM
google-generativeai
pandasai==2.0.0

# Security
bcrypt
